@media only screen and (max-width: 600px) {
    .nav-option{
        display: none;
    }
    .first-part {
        width: 90%;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    .form-part {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;

    }

    .add-arrow {
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;

    }

    .first-part-h1 {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        padding-top: 30px;
    }

    .first-part-para {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }

    .second-part {
        flex-direction: column;
        padding: 20px;
    }

    .second-part img {
        width: 335px;
        height: 342px;

    }

    .second-part h1 {
        color: #131318;
        text-align: start;
        font-size: 20px;
        font-weight: 800;
    }

    .second-part-des {
        max-width: 540px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        padding: 20px;
    }

    .third-part {
        margin: 20px;
    }


    .third-part h1 {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        padding: 0px;
    }

    .third-part p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        padding: 0px;
    }


    .image-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .img-collage,
    .first-collage,
    .second-collage,
    .third-collage {
        flex-direction: column;
        align-items: center;
    }

    .first-collage img,
    #kashmir,
    #america,
    #srilanka,
    #bangladesh,
    #bandar {
        width: 335px;
        height: 176px;
    }


    .fourth-part {
        text-align: center;
        margin: 20px 10px;
    }

    .fourth-part h1 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .fourth-part p {
        padding-bottom: 50px;
    }

    .two-card-part {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }

    .first-card img,
    .second-card img,
    .third-card img {
        width: auto;
        height: 64px;
        padding: 32px;
        padding-bottom: 0px;
    }

    .first-card h1,
    .second-card h1,
    .third-card h1 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        padding: 32px;
        padding-bottom: 10px;
    }

    .first-card p,
    .second-card p,
    .third-card p {
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
        padding: 32px;
        padding-top: 0px;
    }

    .first-card {
        width: 335px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        margin: 0 auto;
    }

    .second-card {
        width: 335px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        margin: 0 auto;
    }

    .third-card {
        max-width: 335px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        margin: 0 auto;
    }

    .fifth-part {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 20px;
    }

    .fifth-form {
        width: 335px;
        height: 353px;
        margin-top: 400px;
    }

    .fifth-form h1 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }

    .fifth-form p {
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
    }

    .fifth-form input {
        width: 288px;
        height: 52px;
        /* margin: 200px; */
    }

    .fifth-form hr {
        width: 288px;
        height: 1px;
    }

    .sub-btn {
        border-radius: 8px;
        background: #17908c;
        width: 288px;
        height: 52px;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: 18px;
    }

    .discount-tag img {
        width: 335px;
        height: 300px;
    }

    .dis-btn {
        position: absolute;
        top: 75%;
        left: 54%;
        transform: rotate(-19.628deg);
        background-color: #17908c;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        width: 150px;
        height: 50px;
    }

    footer {
        background: rgba(19, 19, 24, 0.05);
        margin-top: 100px;
        width: 100%;
        margin-top: 400px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .title-name {
        color: #131318;
        font-size: 21.543px;
        font-weight: 800;
        margin-top: 10px;
    }

    .footer-title img {
        margin-top: 10px;
    }

    footer p {
        color: #5A5A5D;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin: 40px;
    }
    .footer-logo {
        justify-content: center;
        margin: 0px;
        display: flex;
        gap: 25px;
        margin-bottom: 50px;
    }
    .footer-logo a img {
        width: 30px;
        height: 30px;
    }
    .copywrite{
        padding-top: 20px;
        padding-bottom: 30px;
    }




}