* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Mulish';
}

header {
    /* min-width: 1250px; */
    margin: 0 auto;

}

/* nav-section-design */

/* .nav-bar {
    display: flex;

}

.logo-img {
    width: 80px;
}

.title-part {
    display: flex;
    align-items: center;
    width: 50%;
}

.items-part {
    display: flex;
    width: 50%;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    gap: 44px;
    margin-right: 0px;
}

.items-part a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hover-add:hover {
    color: #17908c;
} */

/* first part design */

.first-part {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.form-part {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    margin: 10px;
    padding: 16px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}



.form-part input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    gap: 24px;
    text-align: left;
    /* padding-left: 10px; */
}

.find-now-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #17908c;
    border: 0;
    color: #FFF;
}

.add-arrow {
    display: flex;
    gap: 24px;
}

select {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}

.first-part-des {
    width: 100%;
    /* box-sizing: border-box; Include padding in the total width */
    /* padding: 105px 180px; */
}

.first-part-h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 5px;
    padding-top: 106px;
    padding-bottom: 0px;
}

.first-part-para {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 40px;
}

.read-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #17908c;
    border: 0;
    color: #FFF;
    font-weight: 800;
    margin-top: 30px;
}

.second-part {
    display: flex;
    /* margin: auto; */
    margin-top: 100px;
    padding: 100px 180px 100px 180px;
    margin: auto;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

.second-part img {
    width: 540px;
    height: 550px;
    /* padding-right: 120px; */
}

.second-part h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.second-part-des {
    max-width: 540px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}

/* third-part-design */

.third-part {
    text-align: center;
}

.third-part h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-left: 400px;
    padding-right: 400px;
}

.third-part p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-left: 400px;
    padding-right: 400px;
}

/* collage section */
.img-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.first-collage {
    display: flex;
    gap: 24px;
}

.first-collage img {
    width: 573px;
    height: 300px;
}

.second-collage {
    display: flex;
    gap: 24px;
}

#kashmir {
    width: 274px;
    height: 286px;
}

#america {
    width: 474px;
    height: 286px;
}

#srilanka {
    width: 374px;
    height: 286px;
}

#bangladesh {
    width: 473px;
    height: 300px;
}

#bandar {
    width: 673px;
    height: 300px;
}


.fourth-part{
    text-align: center;
    margin: 100px 180px;
}

.fourth-part h1{
    padding-bottom: 24px;
}
.fourth-part p{
    padding-bottom: 50px;
}
.two-card-part {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    /* align-items: center; */
    justify-content: center;
}

.first-card img,
.second-card img,
.third-card img {
    width: 64px;
    height: 64px;
    padding: 32px;
    padding-bottom: 0px;
}

.first-card h1,
.second-card h1,
.third-card h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 32px;
    padding-bottom: 10px;
}

.first-card p,
.second-card p,
.third-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 32px;
    padding-top: 0px;
}



.first-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.second-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
