* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Mulish';
}

header {
    /* min-width: 1250px; */
    margin: 0 auto;

}

/* nav-section-design */
nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
}

label.logo-nav {
    font-size: 36px;
    font-weight: 800;
    padding: 0 130px 0 5px;
}

.nav-bar-icon {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-option li a {
    text-decoration: none;
}



/* first part design */


.first-part {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.form-part {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    margin: 10px;
    padding: 16px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}



.form-part input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    gap: 24px;
    text-align: left;
    /* padding-left: 10px; */
}

.find-now-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #17908c;
    border: 0;
    color: #FFF;
}

.add-arrow {
    display: flex;
    gap: 24px;
}

select {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}

.first-part-des {
    width: 100%;
    /* box-sizing: border-box; Include padding in the total width */
    /* padding: 105px 180px; */
}

.first-part-h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 5px;
    padding-top: 106px;
    padding-bottom: 0px;
}

.first-part-para {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 40px;
}

.read-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #17908c;
    border: 0;
    color: #FFF;
    font-weight: 800;
    margin-top: 30px;
}

.second-part {
    display: flex;
    /* margin: auto; */
    margin-top: 100px;
    padding: 100px 180px 100px 180px;
    margin: auto;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

.second-part img {
    width: 540px;
    height: 550px;
    /* padding-right: 120px; */
}

.second-part h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.second-part-des {
    max-width: 540px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}

/* third-part-design */

.third-part {
    text-align: center;
}

.third-part h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-left: 400px;
    padding-right: 400px;
}

.third-part p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-left: 400px;
    padding-right: 400px;
}

/* collage section */
.img-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}


.img-collage {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.img-collage img {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
}

.image-text-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;
}


.first-collage {
    display: flex;
    gap: 24px;
}

.first-collage img {
    width: 573px;
    height: 300px;
}

.second-collage {
    display: flex;
    gap: 24px;
}

.third-collage {
    display: flex;
    gap: 24px;
}



#kashmir {
    width: 274px;
    height: 286px;
}

#america {
    width: 474px;
    height: 286px;
}

#srilanka {
    width: 374px;
    height: 286px;
}

#bangladesh {
    width: 473px;
    height: 300px;
}

#bandar {
    width: 673px;
    height: 300px;
}


.fourth-part {
    text-align: center;
    margin: 100px 180px;
}

.fourth-part h1 {
    padding-bottom: 24px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.fourth-part p {
    padding-bottom: 50px;
}

.two-card-part {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}

.first-card img,
.second-card img,
.third-card img {
    width: 64px;
    height: 64px;
    padding: 32px;
    padding-bottom: 0px;
}

.first-card h1,
.second-card h1,
.third-card h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 32px;
    padding-bottom: 10px;
}

.first-card p,
.second-card p,
.third-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 32px;
    padding-top: 0px;
}



.first-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.second-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}


.fifth-part {
    display: flex;
    width: 474px;
    height: 422px;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.fifth-form {
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #17908c;
    width: 474px;
    height: 350px;
    padding: 35px;
}

.discount-tag img {
    width: 474px;
    height: 422px;
}

.fifth-form hr {
    width: 393px;
    height: 1px;
    margin-bottom: 24px;
}

.fifth-form input {
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 393px;
    height: 52px;
}

.fifth-form h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 24px;
}

.fifth-form p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
}

.sub-btn {
    border-radius: 8px;
    background: #17908c;
    width: 393px;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 18px;
}


.discount-tag {
    position: relative;
    display: inline-block;
}

.discount-tag img {
    /* max-width: 100%; */
    height: auto;
    display: block;
    width: 672px;
    height: 422px;
}

.dis-btn {
    position: absolute;
    top: 69%;
    left: 68.5%;
    transform: rotate(-19.628deg);
    background-color: #17908c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    height: 100px;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;

}

.title-name {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
    margin-top: 110px;
}

.footer-title img {
    margin-top: 100px;
}

footer p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.footer-title {
    /* margin-top: 110px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    justify-content: center;
    margin: 48px 680px;
    display: flex;
    gap: 25px;
}

.copywrite {
    padding-top: 50px;
    padding-bottom: 100px;
}